/* Main Body */

* {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
}

html {
    font-size: 16px;
    font-family: Effra, sans-serif;
    text-align: center;
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

/* Banner */

.banner {
    display: flex;
    background-color: #000;
    height: 2rem;
    color: #fff;
    text-align: center;
    box-sizing: border-box;
    width: 100%;
}

.container-social-media {
    width: 100%;
    height: auto;   
    justify-content: space-between; 
    align-self: center;
}

.container-social-media a {
    display: flex;
    width: 5%;
    float: right;
    color: white;
    flex-direction: row;
}

@media screen and (max-width: 480px) {
    .container-social-media {
        width: 100%;
    }

    .container-social-media a {
        width: 15%;
        font-size: 75%;
        padding-left: 2%;
        padding-top: 2%;
    }    
}

/* Header */

header {
    display: flex;
    min-height: 3rem;
    height: 6rem;
    width: auto;
    /*background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(252,252,70,1) 25%, rgba(250,250,51,1) 50%, rgba(250,250,51,1) 75%, rgba(0,0,0,1) 100%);
    /* https://cssgradient.io/ */
    background-color: #FFEA00;
    opacity: 75%;
    align-items: center;
}

.logo-wrapper {
    height: auto;
    width: 14.2rem;
    z-index: 1;
    top: 2.5rem;
}

.logo {
    height: auto;
    width: 14.2rem;
    float: left;
    top: 2.5rem;
    align-items: none;
}

header nav {
    display: flex;
    width: 100%;
    margin-left: 5%;
    height: auto;
}

header nav li {
    display: inline;
    color: #000;
    font-size: 1.2rem;
    font-weight:700;
    padding-right: 2.5%;
}

header nav a {
    text-decoration: none;
    color: #000;
}

header nav a:hover {
    border-bottom: 4px solid black;
    padding-bottom: 5px;
}

@media screen and (max-width: 480px) {

    .logo-wrapper {
        width: 25%;
    }
    
    .logo {
        height: auto;
        width: 50%;
        z-index: 1;
    }

    header {
        height: 1rem;
        width: auto;
        align-items: center;
    }

    header nav {
        margin-top: 0;
        margin-left: 0;
        height: 1rem;
        width: 100%;
        align-self: center;
    }

    header nav li {
        font-size: 1rem;
        align-self: center;
        width: auto;
    }
}

/* Main Body */


.container-latest-news {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    line-height: 0;
    position: relative;
}

.container-latest-news img {
    z-index: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: inline-flex;   
    opacity: 80%;
    position: relative;
}

.container-banner-text {
    display: flex;
    flex-direction: column;
    height: 20%;
    width: 100%;
    padding-bottom: 2%;
    align-content:flex-start;
    text-align: start;
    background-color: #ffffff88;
    position: absolute;
    bottom: 0%;
}


.container-latest-news-header {
    font-weight: 600;
    font-size: 4.5rem;    
    width: auto;
}


.container-caption {
    margin-top: 1rem;
    height: 10%;
    width: auto;
    font-size: 1.5rem;
}

.read-more-link {
    height: 1rem;
    font-size: 1rem;
    color: black;
    padding-top: 2%;
    height: 10%;
    width: auto;
}


.container-latest-news-header, 
.container-caption, 
.read-more-link {
    padding-left: 0.5%;
    
}



@media screen and (max-width: 480px) {
    .container-banner-text {
        bottom: 67.4%;
        width: 100%;
        height: 12%;
        margin-left: 0;
        border-radius: 0;
    }

    .container-latest-news-header {
        font-size: 1.75rem;
        font-weight: 700;
    }

    .container-caption {
        font-size: 1rem;
        margin-top: 0.5rem;
    }

    .read-more-link {
        margin-top: 1.5rem;
        font-size: 1rem;
    }
}


/* Fixture */

.fixture-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1em;
    margin-left: 25%;
    margin-bottom: 1em;
    height: 250px;
    border-radius: 100px;
    width: 50%;
    box-shadow: 0 4px 16px 0 rgb(0 0 0 / 50%);
    align-items: center;
    z-index: 1;

}

.fixture {
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 2%;
    padding-top: 1%;
}

.fixture-container .logo     {
    justify-self: baseline;
    height: auto;
    width: 10%;
    padding-bottom: 2%;
}


@media screen and (max-width: 480px) {
    .fixture-container {
        height: 10em;
        border-radius: 0;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        border: 0;
        margin-bottom: 250px;
    }

    .fixture {
        font-size: 1.5rem;
        padding-top: 5%;
    }
    
}

/* Footer */

footer {
    height: 10rem;
    background-color: #000;
    margin-top: 0;
    width: 100%;
    color: #fff;
    text-align: center;
    display: flex;
}

footer .footer-nav-links {
    margin-top: 1rem;
}

@media screen and (max-width: 480px) {
    footer {
        height: 5rem;
        width: auto;
        align-items: center;
    }

    .footer-nav-links {
        display: inline;
        width: 100%;
        padding-right: 5%;
    }
    
}